In [3]:
import pandas as pd
import numpy as np
import sklearn as sk
import yfinance as yf

In [6]:
stock_information = yf.download('KO', start = '2007-07-15', end = '2020-07-14')
stock_information.dropna()
stock_information

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2007-07-16  26.700001  27.245001  26.680000  26.924999  15.422337  33549400
2007-07-17  27.165001  27.190001  26.405001  26.584999  15.227589  33030000
2007-07-18  26.655001  26.790001  26.535000  26.715000  15.302052  28491200
2007-07-19  26.950001  26.969999  26.715000  26.850000  15.379377  14462400
2007-07-20  26.870001  26.950001  26.545000  26.605000  15.239043  22396600
...               ...        ...        ...        ...        ...       ...
2020-07-07  45.000000  45.500000  44.799999  45.209999  44.846973  13043600
2020-07-08  45.139999  45.180000  44.470001  45.070000  44.708099  13851200
2020-07-09  45.049999  45.049999  43.830002  43.910000  43.557415  16087100
2020-07-10  43.880001  45.250000  43.860001  45.150002  44.787457  15627800
2020-07-13  45.529999  45.680000  44.959999  45.250000  44.886654  16705300

[3272 rows x 6 columns]

In [7]:
def price_volatility(number_of_days, closing_price_array):
    volatility = []
    moving_volatility = []
    
    for i in range (1, number_of_days+1):
        percent_change = 100 * ((closing_price_array[i] - closing_price_array[i - 1]) / closing_price_array[i -1])
        moving_volatility.append(percent_change)
    volatility.append(np.mean(moving_volatility))
    
    for i in range (number_of_days+1, len(closing_price_array)-1):
        del moving_volatility[0]
        percent_change = 100 * ((closing_price_array[i] - closing_price_array[i - 1]) / closing_price_array[i -1])
        moving_volatility.append(percent_change)
        volatility.append(np.mean(moving_volatility))
        
    return volatility, moving_volatility